body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

ul{
    display: flex;
    gap: 10px;
    background-color: #222222;
    align-items: center;
    justify-content: center;
}
li{
    display: flex;
    padding: 12px;
    list-style-type: none;
}

li > a{
    padding: 10px;
    color: gray;
    text-decoration: none;
}

li > a:hover{
    color:white;
    transition: all 0.5s ease-in-out;
}

.aboutContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

.aboutWrapper{
    display: flex;
    gap: 40px;
}